// * Font 
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// * General 
$clr-blue-light: #DEDBD2;
$clr-green-light: #B0C4B1;
$clr-marine-dark: #4A5759;

* {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.shadow-inset{
    border-radius: 15px;
    box-shadow: inset 0 0 2px rgb(90, 90, 90);
}

.shadow{
    box-shadow: 0 0 2px rgb(90, 90, 90);
    border-radius: 15px;
}

.title-of-section{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

@mixin shadow($values) {
    box-shadow: $values rgb(167, 165, 165);
}

.titles-color{
    color: #616161;
}

// Wrapper of details 
.box{
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .detail{
        width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        border: 2px solid #ccc;
    }
}

// * Grid and  main layout 
.base-grid{
    background-color: lightred;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    grid-template-columns: 30px 1fr 30px;
    background-color: $clr-blue-light;

    .container{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 1fr 30%;
        grid-template-rows: 20% 1fr 20%;

        // * Game zone 
        .game-zone{
            @extend .shadow-inset;
            // --
            position: relative;
            grid-column: 2/3;
            grid-row: 2/3;
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1rem;
            overflow: hidden;

            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background-color: $clr-marine-dark;
                opacity: .8;
                border-radius: inherit;
                transform: translateX(-100%);
                transition: transform .2s;
            }

            &.block:after{
                transform: translateX(0);
            }
        }

        // * Title
        .up-section{
            grid-column: 2/3;
            grid-row: 1/2;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            .wrapper{
                // -- 
                width: 100%;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                

                .title{
                    @extend .titles-color;

                    &:hover{
                        cursor: default;
                    }
                }
            }

        }

        // * Game details 
        .game-details{
            grid-column: 3/4;
            grid-row: 2/3;
            display: flex;
            justify-content: center;

            .wrapper{
                @extend .shadow; 
                // --
                width: calc(80% - 2rem);
                padding: 1rem;
                display: grid;
                grid-template-rows: repeat(2, 1fr);

                &__score{
                    grid-row: 1/2;
                    // -- 
                    .title{
                        @extend .title-of-section, .titles-color;
                    }
                }

                &__level{
                    grid-row: 2/3;
                    // --
                    .title{
                        @extend .title-of-section, .titles-color;
                    }
                }
            }
        }

        // * start button
        .wrapper-start{
            grid-column: 2/3;
            grid-row: 3/4;
            padding: 2rem 0;

            button{
                width: 100%;
                border: none;
                background-color: rgba(40, 69, 75, 0.8);
                color: #fff;
                padding: 1rem 0;
                border-radius: 10px;
                transition: background-color .2s;
                outline: none;
                font-size: 1.2rem;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(40, 69, 75);
                }

                &[disabled]{
                    cursor: not-allowed;
                    background-color: #ccc;
                }
            }
        } 
    }
}


// * Cards 
.game-zone{

    .card{
        @include shadow(0 2px 2px);
        // --
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: scale(0.9);
        transition: box-shadow .2s,
                    transform .1s,
                    background-color .2s;

        justify-self: center;
        align-self: center;
        // Cards colors 
        &-manate { background-color: #85c7de; }
        &-pink { background-color: #e7cfcd; }
        &-opal { background-color: #09bc8a; }
        &-thistle { background-color: #508991; }

        // * Card hover
        &:hover{
            @include shadow(0 8px 8px);
            cursor: pointer;
            transform: scale(1);
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}


// * Classes for the game 
.illuminate-card{
    filter: brightness(150%);
}

.block{
    cursor: not-allowed !important; 
}

// Medias 
@media only screen and (min-width: 768px) {
    .base-grid{
        display: grid;
    }

    .media-not-allowed{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .media-not-allowed{
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: $clr-blue-light;

        .under_construction-img{
            width: 100%;
            object-fit: contain;
        }
    }
}